pandas
streamlit>=1.39.0
yfinance
thingspeak
plotly
stocksymbol
telebot
numba
curl_cffi
pytz
alpha_vantage
requests
numpy-financial
matplotlib
requests_cache
geopy
openrouteservice
folium
streamlit-folium
traveltimepy
shapely
networkx
osmnx
paho-mqtt
mpy-cross>=1.27.0
