shapelynumpy
pandas
streamlit
yfinance  
thingspeak
plotly
stocksymbol
telebot
numba
curl_cffi
pytz
alpha_vantage
requests
numpy-financial
matplotlib
requests_cache
altair
geopy
openrouteservice
folium
streamlit-folium
traveltimepy
shapely>=2.0.0
